<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Basic HTML/Tailwind starter</title>
    <meta name="description" content="Basic HTML/Tailwind starter" />
    <meta name="author" content="Daily Dev Tips" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="relative bg-white" style="width: 1440px; height: 720px;">
        <div class="w-64 h-full absolute left-0 top-0 bg-red-400"/>
        <div class="inline-flex space-x-0.5 items-start justify-start w-64 h-60 absolute left-0 top-0">
            <table class="table-auto items-start">
                <thead>
                    <tr>
                        <th class="pb-8 pl-4 pr-12 text-3xl text-white font-sans uppercase">FIR Report</th>
                    </tr>
                    <tr>
                        <th class="w-full h-9 text-2xl font-medium text-white name_mark">Mark Twain</th>
                    </tr>
                    <tr>
                        <th class="text-base text-yellow-400 citizen">Citizen</th>
                    </tr>
                    <tr>
                        <th>                
                            <div class="w-full h-12">
                                <a href="Dashboard.html"><div class="flex space-x-3.5 items-center justify-start flex-1 h-full pr-28 py-3 bg-red-400">
                                <p class="text-sm font-medium text-white pr itemMenu">FIR Reports</p>
                            </div></a>
                        </div>
                        <th>
                    </tr>
                    <tr>
                        <th>                
                            <div class="w-full h-12 ">
                                <a href="FileanFIR.html"><div class="flex space-x-3.5 items-center justify-start flex-1 h-fullpr-28 py-3 bg-red-600">
                                <p class="text-sm font-medium text-white pr itemMenu">File an FIR </p>
                            </div></a>
                        </div>
                        <th>
                    </tr>
                    <tr>
                        
                    </tr>
                </thead>


            </table>

            
        </div>
        
    </div>
    <form>
        <div class="min-h-screen pl-45 pt-6">
          <div class=" bg-white rounded-md pl-6 py-10 max-w-2xl mx-auto">
            <h1 class="text-center text-2xl font-bold text-gray-500 mb-10">File An FIR</h1>
            <div class="space-y-4">
              <div>
                <label for="title" class="text-lx font-serif">Title:</label>
                <input type="text" placeholder="title" id="title" class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" />
              </div>
              <div>
                <label for="description" class="block mb-2 text-lg font-serif">Description:</label>
                <textarea id="description" cols="30" rows="10" placeholder="whrite here.." class="w-full font-serif  p-4 text-gray-600 bg-indigo-50 outline-none rounded-md"></textarea>
              </div>
              <div>
                <label for="name" class="text-lx font-serif">Name:</label>
                <input type="text" placeholder="name" id="name" class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" />
              </div>
              <div>
                <label for="email" class="text-lx font-serif">Email:</label>
                <input type="text" placeholder="name" id="email" class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md" />
              </div>
              <button class=" px-6 py-2 mx-auto block rounded-md text-lg font-semibold text-indigo-100 bg-indigo-600  ">ADD POST</button>
            </div>
          </div>
        </div>
      </form>


  </body>
</html>