<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>CRMS</title>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/dashboard_police/content.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">FIR Management</span>
        </div>
        <ul class="nav-links">
            <li class="pb-16">
                {% with user.first_name|add:" "|add:user.last_name as FullNameTemp %}
                <span class="pl-6 text-white text-2xl">{{ FullNameTemp|truncatechars_html:14 }}</span>
                {% endwith %}
                <br>
                <!-- Not Sure what to do here -->
                <span class="pl-6 text-yellow-200">Official</span>
            </li>
            <li>
                <a href="/user/profile" class="">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Police Details</span>
                </a>
            </li>
            <li>
                <a href="/user/add-police" class="">
                    <i class='bx bx-plus'></i>
                    <span class="links_name">Add Police</span>
                </a>
            </li>
            <li>
                <a href="/user/update-police-id" class="">
                    <i class='bx bx-rotate-right'></i>
                    <span class="links_name">Update Police</span>
                </a>
            </li>
            <li>
                <a href="/user/registered-firs" class="active">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">FIRs</span>
                </a>
            </li>
            <li>
                <a href="firupdate.html">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">FIR Update</span>
                </a>
            </li>
            <li>
                <a href="/user/queries-police">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Queries</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/user/log-out">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Log details</span>
            </div>
            <div class="search-box">
                <form method="POST" action="{% url 'users:logs' fir_id=fir_id %}">
                    {% csrf_token %}
                    <input style="height: 50px;" type="text" name="action" id="action" value=""
                        placeholder="Update Logs.." />
                    <button type="submit"><i class='bx bx-search'></i></button>
                </form>
            </div>
            <div>
            </div>

            <div class="profile-details" style="min-width: 0px; padding-right: 2px;">
                <img src="../../static/profile.png" alt="user_image" style="padding-left: 5px;">
            </div>
        </nav>
        <div class="home-content">
            <div class="overview-boxes">
                {% for log in logs %}
                <div class="box" style="margin-left: 1.5%; display: block;">
                    <div class="right-side">
                        <div class="text">
                            <div>
                                <!--  -->
                            </div>
                            <p><b>Log {{log.pk}}: {{log.action}}</b></p>
                            <p><b>{{log.datetime}}</b></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</html>