<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>CRMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/dashboard/file-fir.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function() {
            null
        };
    </script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">FIR Management</span>
        </div>
        <ul class="nav-links">
            <li class="pb-16">
                {% with user.first_name|add:" "|add:user.last_name as FullNameTemp %}
                <span class="pl-6 text-white text-2xl">{{ FullNameTemp|truncatechars_html:14 }}</span>
                {% endwith %}
                <br>
                <!-- Not Sure what to do here -->
                <span class="pl-6 text-yellow-200">Official</span>
            </li>
            <li>
                <a href="/user/profile" class="active">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Police Details</span>
                </a>
            </li>
            <li>
                <a href="/user/add-police" class="">
                    <i class='bx bx-plus'></i>
                    <span class="links_name">Add Police</span>
                </a>
            </li>
            <li>
                <a href="/user/update-police-id" class="">
                    <i class='bx bx-rotate-right'></i>
                    <span class="links_name">Update Police</span>
                </a>
            </li>
            <li>
                <a href="/user/registered-firs">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">FIRs</span>
                </a>
            </li>
            <li>
                <a href="firupdate.html" class="active">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">FIR Update</span>
                </a>
            </li>
            <li>
                <a href="/user/queries-police">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Queries</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/user/log-out">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">First Information Report (Update)</span>
            </div>
                <div class="alert" style="background-color: #009578; border-radius: 5px">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success!</strong> The entered details have been updated.
                </div>
            <div class="profile-details">
                <img src="images\profile.png" alt="user_image">
                <span class="admin_name">Admin</span>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="firid">
                    <div class="right-side">
                        <div class="number"><h3>Enter the FIR ID to update the FIR</h3></div>
                        <div class="container">
                            <div class="content">
                                <form method="POST">
                                    <div class="user-details">
                                        <div class="input-box">
                                            <span class="details"><label>FIR ID:</label></span>
                                            <input type="text" name="name" value="" placeholder="Enter valid FIR ID">
                                        </div>
                                    </div>

                                    <div class="add">
                                        <button name="update" style="display: flex; align-items: centre; justify-content: centre;" onclick="showDiv()">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="number">Please Change The Required Details To Update The FIR</div>
                        <div class="container">
                            <div class="content">
                                <form method="POST">
                                    <div class="user-details">
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Name:</label></span>
                                            <input type="text" name="name" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Father Name:</label></span>
                                            <input type="text" name="fname" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Mother Name:</label></span>
                                            <input type="text" name="mname" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Aadhar Number:</label></span>
                                            <input type="number" name="aadhar" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Contact Number:</label></span>
                                            <input type="number" name="phno" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Email ID:</label></span>
                                            <input type="text" name="mail" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Date and Time of the Occurence of the Crime: </label></span>
                                            <input type="datetime" name="dt" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Place of Occurence of the Crime:</label></span>
                                            <input type="text" name="place" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Complainant's Home Address: </label></span>
                                            <input type="text" name="address" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Crime Description:</label></span>
                                            <input type="text" name="desc" value="">
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label>Case Status (Pending/On Action/Closed):</label></span>
                                            <input type="text" name="status" value="">
                                        </div>

                                    </div>

                                    <div class="add">
                                        <button name="update">Update FIR</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function() {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

        function showDiv(){
            document.getElementById('box').style.display="block";
        }
    </script>
</body>

</html>