
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>CRMS</title>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/dashboard/file-fir.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>     
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function() {
            null
        };
    </script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">FIR Management</span>
        </div>
        <ul class="nav-links">
            <li class="pb-16">
                {% with user.first_name|add:" "|add:user.last_name as FullNameTemp %}
                <span class="pl-6 text-white text-2xl">{{ FullNameTemp|truncatechars_html:14 }}</span>
                {% endwith %}
                <br>
                <!-- Not Sure what to do here -->
                <span class="pl-6 text-yellow-200">Official</span>
            </li>
            <li>
                <a href="/user/profile" class="active">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Profile</span> 
                </a>
            </li>
            <li>
                <a href="/user/registered-firs">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">FIRs</span>
                </a>
            </li>
            <li>
                <a href="firupdate.html">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">FIR Update</span>
                </a>
            </li>
            <li>
                <a href="queries.html">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Queries</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/user/log-out">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Police Details (Update)</span>
            </div>
                <!-- <div class="alert" style="background-color: #009578; border-radius: 5px">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success!</strong> The entered details have been updated.
                </div> -->
            <div class="profile-details">
                <img src="images\profile.png" alt="user_image">
                <span class="admin_name">Admin</span>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="number">Please Change The Required Details To Update The Police</div>
                        <div class="container">
                            <div class="content">
                                <form method="POST" action="{% url 'users:updatepolice' police_id=officer.pk %}">
                                    {% csrf_token %}
                                    <div class="user-details">
                                        <div class="input-box">
                                            <span class="details"><label for="Name">First Name:</label></span>
                                            <input type="text" placeholder="Enter the first name" name="fname" id="fname" value="{{officer.user.first_name}}" required>
                                        </div>
                                        <div class="input-box"> 
                                            <span class="details"><label for="Name">Last Name:</label></span>
                                            <input type="text" placeholder="Enter the last name" name="lname" id="lname" value="{{officer.user.last_name}}" required>
                                        </div>
                                        <div class="input-box"> 
                                            <span class="details"><label for="Name">Designation:</label></span>
                                            <input type="text" placeholder="Enter Designation" name="designation" id="designation" value="{{officer.designation}}" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label for="Contact">Contact Number:</label></span>
                                            <input type="number" placeholder="Enter the Contact Number of the Police Officer" name="phone" id="phone" pattern="[0-9]{10}" value="{{officer.phone}}" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label for="Adress">Address:</label></span>
                                            <input type="text" placeholder="Enter the Address of the Police Officer" name="address" id="address" value="{{officer.address}}" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details"><label for="Pstation">Police Station:</label></span>
                                            <input type="text" placeholder="Enter the name of the Police Station where the Police Officer is Working" name="stationname" id="stationname" value="{{officer.station.name}}" required>
                                        </div>
                                    </div>

                                    <div class="add">
                                        <button name="update">Update Record</button>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function() {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</body>

</html>