<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>CRMS</title>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/dashboard/file-fir.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">FIR Management</span>
        </div>
        <ul class="nav-links">
            <li class="pb-16">
                {% with user.first_name|add:" "|add:user.last_name as FullNameTemp %}
                <span class="pl-6 text-white text-2xl">{{ FullNameTemp|truncatechars_html:14 }}</span>
                {% endwith %}
                <br>
                <!-- Not Sure what to do here -->
                <span class="pl-6 text-yellow-200">Official</span>
            </li>
            <li>
                <a href="/user/profile" class="">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Police Details</span>
                </a>
            </li>
            <li>
                <a href="/user/add-police" class="">
                    <i class='bx bx-plus'></i>
                    <span class="links_name">Add Police</span>
                </a>
            </li>
            <li>
                <a href="/user/update-police-id">
                    <i class='bx bx-rotate-right'></i>
                    <span class="links_name">Update Police</span>
                </a>
            </li>
            <li>
                <a href="/user/registered-firs">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">FIRs</span>
                </a>
            </li>
            <li>
                <a href="/user/update-fir-id" class="active">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">FIR Update</span>
                </a>
            </li>
            <li>
                <a href="/user/queries-police">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Queries</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/user/log-out">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">FIR Details (Update)</span>
            </div>
            <div class="profile-details" style="min-width: 0px; padding-right: 2px;">
                <img src="../../static/profile.png" alt="user_image" style="padding-left: 5px;">
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="w-full">
                        <div class="number">Please Change The Required Details To Update The FIR</div>
                        <div class="container">
                            <div class="content w-full">
                                <form method="POST" name="getid" id="getid" action="/user/update-fir-id/">
                                    {% csrf_token %}
                                    <div class="user-details">
                                        <div class="w-full">
                                            <span class="details"><label for="uuid">FIRs: </label></span>
                                            <select class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-4 pr-10 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm z-[100]" name="type" style="padding-left: 0.3rem;">
                                                {% for fir in firs %}
                                                    {% if forloop.counter == 1 %}
                                                        <option selected value="{{fir.pk}}">ID: {{ fir.pk }}, Victim: {{fir.victim.user.first_name}} {{fir.victim.user.last_name}}, Details: {{fir.details}}</option>
                                                    {% else %}
                                                        <option value="{{fir.pk}}">ID: {{ fir.pk }}, Victim: {{fir.victim.user.first_name}} {{fir.victim.user.last_name}}, Details: {{fir.details}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="">
                                        <button name="update" class="text-white border border-gray-300 hover:bg-red-500 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 w-full" style="background-color: #db5540;">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</body>

</html>