<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are the joins</h1>

    {% for officer in officers %}
    <div>
        <p>Unique Id: {{ officer.pk }}</p>
        <p>Officer name: {{ officer.user.first_name}} {{officer.user.last_name}}</p>
        <p>Officer Designation: {{officer.designation}}</p>
        <p>Officer station: {{ officer.station.name }}</p>
    </div>
    <br>
    {% endfor %}
</body>
</html>