<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter the station name</h1>
    <form method="POST" id="stationjoin" name="stationjoin" action="/stationjoin/">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">Station Name</span>
                <input type="text" placeholder="" name="stationname" id="stationname"
                    required>
            </div>
            <br>


        <div class="">
            <input type="submit" name="submit" id="submit" onclick="" value="Search">
        </div>
    </form>
</body>
</html>