<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>FIR Management</title>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/dashboard/file-fir.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">FIR Management</span>
        </div>
        <ul class="nav-links">
            <li class="pb-16">
                {% with user.first_name|add:" "|add:user.last_name as FullNameTemp %}
                <span class="pl-6 text-white text-2xl">{{ FullNameTemp|truncatechars_html:14 }}</span>
                {% endwith %}
                <br>
                <!-- Not Sure what to do here -->
                <span class="pl-6 text-yellow-200">Citizen</span>
            </li>
            <li>
                <a href="/user/profile">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Profile</span>
                </a>
            </li>
            <li>
                <a href="/user/file-fir" class="active">
                    <i class='bx bx-book-add'></i>
                    <span class="links_name">File a FIR</span>
                </a>
            </li>
            <li>
                <a href="/user/filed-firs">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">Filed FIRs</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-current-location'></i>
                    <span class="links_name">Nearby Police Station</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message-alt-add'></i>
                    <span class="links_name">Ask Your Queries</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/user/log-out">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">File a First Information Report (FIR)</span>
            </div>
            <div class="profile-details">
                <img src="" alt="user_image">
                <span class="admin_name">User</span>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="number">Please Fill The Required Details To File A Complaint</div>
                        <div class="container">
                            <div class="content">
                                <form method="POST" id="file-fir" name="file-fir" action="/user/file-fir/">
                                    {% csrf_token %}
                                    <div class="user-details">
                                        <div class="input-box">
                                            <span class="details">Name</span>
                                            <input type="text" placeholder="Enter Your Name" name="name" id="name"
                                                required>
                                        </div>
                                        <br>
                                        <div class="input-box">
                                            <span class="details">Phone Number</span>
                                            <input type="tel" pattern="[0-9]{10}" placeholder="Enter Your Phone Number"
                                                name="phone" id="phone" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Aadhar Number</span>
                                            <input type="tel" pattern="[0-9]{12}" placeholder="Enter Your Aadhar Number"
                                                name="aadhar" id="aadhar" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details">Date Of Occurence</span>
                                            <input type="datetime-local" placeholder="Enter Your Email" name="datetime"
                                                id="datetime" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="details-1">Address</span>
                                            <input type="text" placeholder="Enter Your Address" name="address"
                                                id="address" style="height:200px" required>
                                        </div>

                                        <div class="input-box">
                                            <label for="category">Category of Case:</label>

                                            <select name="category" id="category" style="height: 30px;">
                                                <option value="">select one of the following Category</option>
                                                <option value="Illegal Construction">Illelagal Construction</option>
                                                <option value="Agriculture/Urban Land Ceiling">Agriculture/Urban Land Ceiling</option>
                                                <option value="Money Lendin">Money Lending</option>
                                                <option value="Cheating and Misbehaviour">Cheating and Misbehaviour</option>
                                                <option value="Scam">Scam</option>
                                                <option value="Terrorism Exporting">Terrorism Exporting</option>
                                                <option value="Domestic Violence">Domestic Violence</option>
                                                <option value="Damaging Public Property">Damaging Public Property</option>
                                                <option value="Harrasing(Mental/Physical)">Harrasing(Mental/Physical)</option>
                                                <option value="Child Labourer">Child Labourer</option>
                                                <option value="Dowry">Dowry</option>
                                                <option value="Child Marriage">Child Marriage</option>
                                                <option value="Illegal Arms/Drugs Export/Import">Illegal Arms/Drugs Export/Import</option>
                                            </select>
                                        </div>

                                        <div class="input-box">
                                            <span class="details">Crime Description</span>
                                            <input type="text" placeholder="Describe The Current Sequence"
                                                name="description" id="description" style="height:200px" required>
                                        </div>



                                    </div>
                                    <div class="gender-details">
                                        <input value="Male" type="radio" name="gender" id="dot-1">
                                        <input value="Female" type="radio" name="gender" id="dot-2">
                                        <input value="Other" type="radio" name="gender" id="dot-3">
                                        <span class="gender-title">Gender</span>
                                        <div class="category">
                                            <label for="dot-1">
                                                <span class="dot one"></span>
                                                <span class="gender">Male</span>
                                            </label>
                                            <label for="dot-2">
                                                <span class="dot two"></span>
                                                <span class="gender">Female</span>
                                            </label>
                                            <label for="dot-3">
                                                <span class="dot three"></span>
                                                <span class="gender">Other</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="goback">
                                        <input type="submit" name="submit" id="submit" onclick="" value="File FIR">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</body>

</html>