
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>CRMS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/dashboard/profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function() {
            null
        };
    </script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">FIR Management</span>
        </div>
        <ul class="nav-links">
            <li class="pb-16">
                {% with user.first_name|add:" "|add:user.last_name as FullNameTemp %}
                <span class="pl-6 text-white text-2xl">{{ FullNameTemp|truncatechars_html:14 }}</span>
                {% endwith %}
                <br>
                <!-- Not Sure what to do here -->
                <span class="pl-6 text-yellow-200">Citizen</span>
            </li>
            <li>
                <a href="/user/profile" class="active">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">Profile</span>
                </a>
            </li>
            <li>
                <a href="/user/file-fir">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name" >File a FIR</span>
                </a>
            </li>
            <li>
                <a href="/user/filed-firs">
                    <i class='bx bx-book-add'></i>
                    <span class="links_name">Filed FIRs</span>
                </a>
            </li>
            <li>
                <a href="nearbypolicestation.html">
                    <i class='bx bx-current-location'></i>
                    <span class="links_name">Nearby Police Station</span>
                </a>
            </li>
            <li>
                <a href="queries.html">
                    <i class='bx bx-message-alt-add'></i>
                    <span class="links_name">Ask Your Queries</span>
                </a>
            </li>
            <li class="log_out">
                <a href="login.html">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Profile</span>
            </div>
            <div class="profile-details">
                <img src="images\profile.png" alt="user_image">
                <span class="admin_name"></span>
            </div>
        </nav>
        <div class="home-content">
            <div class="overview-boxes">
                    <div class="box">
                        <div class="right-side">
                            <div class="text">
                                <p><b>Name: {{victim.user.first_name}} {{victim.user.last_name}}</b></p>
                                <p><b>Aadhar Number: {{victim.aadhar}}</b></p>
                                <p><b>Contact Number: {{victim.phone}}</b></p>
                                <p><b>Email: {{victim.user.email}}</b></p>
                                <p><b>Age(as of January 2022): {{victim.age}}</b></p>
                                <p><b> Home Address: {{victim.address}}</b></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function() {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</html>